
nav {
	border-bottom: 2px solid gainsboro;
	font-family: Montserrat,helvetica neue,Helvetica,Arial,sans-serif;
	font-weight: 700;
	color:black !important;
	
		text-transform: uppercase;
		letter-spacing: .2em;
width:100%;
  }
  #nameNav{

	color:rgba(0,0,0,.5);
	font-family: Montserrat,helvetica neue,Helvetica,Arial,sans-serif;
	font-weight: 700;
	font-size:1.15rem;
	color:black !important;
	
  }
  #nameNav:hover{
	color: rgb(73, 123, 167) !important;

  }
.nav-link{

	color:black;
	font-size: .75rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin-left: 1rem;
	color:black !important;
}
.nav-link:hover{
	color: rgb(73, 123, 167) !important;
}
.left{
	float:left;
	color: rgb(73, 123, 167) !important;
}
.btn{
	position: relative;
    z-index: 2;
    color: inherit;
}
#profile{

	height:100px;
	width:100px;
}
.rounded-circle{

padding:8px;
background-color: white;
border-color: gainsboro;
}
.rounded-circle:hover{
	border-color: rgb(73,123,167)!important;
}


#header {
	background-color: rgb(245,248,250);
	margin: 0;
	padding: 0;
	width: 100%;
	border-bottom: 2px solid gainsboro;
}
h1{
	text-align: center;
font-family: sans-serif;
font-weight: 700;
font-size: 3rem;
letter-spacing: .03rem;
}
h2{
	font-family: serif;
	text-align: center;
	color:  rgb(73, 123, 167)
}
h3{
	
	font-family: sans-serif;
	font-size: 1.75rem;
	font-weight: 700;
}
.container{
	margin-left: auto;
	margin-right: auto;
	
	max-width: 38em;

}
.p1{
	font-size: 1.25rem;
}
.p2{
	font-size: .9rem;
}
#skillz{
text-align: center;


}
#footer{
	width:100%;
	background-color:rgb(245,248,250) ;
	padding:0px !important;
	font-size:.75rem;
	color:grey;
	
}
body{
	width: 100%;
}
.row{
width:100%;
}

i{
	float:right;
	padding:10px;
}
p3{
	float:left;
	padding:10px;
	color:grey;
}
p3:hover{
	color:rgb(73,123,167)!important;
	
}
#row3 {


	padding: 80px;
}
#cheatday{
	float:right;
	width:250px;
}

#potter{
	float:right;
	width: 250px;
}
#contactdiv{
height:500px;
}